<nav class="elevation-z6 nav-bar">
  <button type="button" class="nav-bar__toggle" mat-button (click)="sidenav.open()">
    <span class="fa fa-bars"></span>
  </button>
  <div class="nav-bar__company">
    <svg class="company__logo" style="height: 50px" viewBox="0 0 100 100">
      <defs>
        <pattern id="image" x="0%" y="0%" height="100%" width="100%" viewBox="0 0 170 70">
          <path d="M10 10 q 15 0 20 10 t 20 10 t 20 -10 t 15 -10" />
          <path d="M10 10 q 15 0 20 10 t 20 10 t 20 -10 t 15 -10" transform="translate(170), scale(-1, 1)" />

          <path d="M10 40 q 15 0 20 10 t 20 10 t 20 -10 t 15 -10" />
          <path d="M10 40 q 15 0 20 10 t 20 10 t 20 -10 t 15 -10" transform="translate(170), scale(-1, 1)" />
        </pattern>
      </defs>
      <circle cx="50" cy="50" r="45" fill="url(#image)" />
    </svg>
    <span class="company__name">WILKWARE</span>
  </div>
  <button class="nav-bar__profile" type="button" mat-button routerLink="/home" routerLinkActive="active">
    <span>ELLIOT WILKINSON</span>
  </button>
</nav>

<mat-sidenav-container class="root-sidenav-container">
  <mat-sidenav #sidenav class="root-sidenav-container__sidenav">
    <div id="navbaritems">
      <ul class="list-group elevation-z6">
        <li routerLink="/home" routerLinkActive="active" class="list-group-item list-group-item-action">
          <b>Home</b>
        </li>
        <li routerLink="/cv" routerLinkActive="active" class="list-group-item list-group-item-action">
          <b>Curriculum Vitae</b>
        </li>
        <li routerLink="/projects" routerLinkActive="active" class="list-group-item list-group-item-action">
          <b>Projects</b>
        </li>
      </ul>
    </div>
  </mat-sidenav>

  <div class="root-sidenav-container__content">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>