.root-container {
    height: 100%;
    width: 100%;
    background-color: #333;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-column-gap: 5px;    
}

.panel {
    background-color: ghostwhite;    
    grid-column-start: 1;
    grid-column-end: 2;
}

.content {
    background-color: ghostwhite;
    border-top: 2px dashed rebeccapurple;
    border-bottom: 2px dashed rebeccapurple;
    grid-column-start: 2;
    grid-column-end: 3;
}

.logo {
    stroke: lightcoral;
    stroke-width: 5;
    fill: transparent;
}

.logo__circle {
    stroke: lightcoral; 
    stroke-width: 3;
}