.root-container {
    height: 100%;
    width: 100%;
    background-color: #333;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-column-gap: 5px;    
}

.panel {
    background-color: ghostwhite;    
    /*grid-column-start: 1;
    grid-column-end: 2;*/
}

.content {
    height: 100%;
    position: relative;
    background-color: ghostwhite;
    /* border-top: 2px dashed rebeccapurple;
    border-bottom: 2px dashed rebeccapurple; */
    /*grid-column-start: 2;
    grid-column-end: 3;*/
    display: flex;
    justify-content: center;
    overflow-y: auto;
}

.panel__menu li {
    cursor: pointer;
}

.panel__menu__toggle {
    display: none;
    cursor: pointer;
}

.panel__profile {

}

.panel__profile__logo {

}

.panel__profile__company {
    font-family: 'Quicksand', sans-serif;
}

.panel__profile__person {

}

.logo {
    stroke: lightcoral;
    stroke-width: 5;
    fill: transparent;
}

.logo__circle {
    stroke: lightcoral; 
    stroke-width: 3;
}

@media (max-width: 600px) { 
    .root-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
    }
    .panel {
        display: grid;
        grid-template-columns: 1fr auto;
        border-top: lightcoral solid 2px;
    }
    .panel__menu {
        grid-column: 1 / 3;
    }
    .panel__menu__toggle {
        display: block;
    }    
    .panel__profile {
        display: grid;
        grid-template-columns: 50px auto 1fr;
    }
    .panel__profile__logo {
        width: 50px;
    }
    .panel__profile__company {
        font-size: 2.5rem;
        margin-bottom: 0;
        color: lightcoral;
        height: 45px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
    .panel__profile__person {
        display: none;
    }
    .logo {
        stroke-width: 8;
    }
    .logo__circle {
        stroke-width: 4;
    }
}

@media (min-width: 601px) {
    .panel__menu {
        display: block;
    }
}