<h1>Elliot Wilkinson</h1>
<h4>Contact</h4>
<pre>
  <code>L: London</code>
  <code>T: +447920752087</code>
  <code>W: <a href="mailto:Elliot.Wilkinson@wilkware.co.uk">Elliot.Wilkinson@wilkware.co.uk</a></code>
  <code>P: <a href="mailto:PlantPorridge@gmail.com">PlantPorridge@gmail.com</a></code>
</pre>



<h4>Education</h4>

<div class="header-date">
  <h5 class="heading__header heading__header--no-margin-bottom">University of Warwick</h5>
  <span class="heading__date">'10 - '13</span>
</div>

<table>
  <tr>
    <th colspan="2">Discrete Mathematics</th>
  </tr>
  <tr>
    <td>Overall</td>
    <td>2:1 (68%)</td>
  </tr>
  <tr>
    <td>Final Year</td>
    <td>1:1 (74.3%)</td>
  </tr>
</table>

<div class="header-date">
  <h5 class="heading__header heading__header--no-margin-bottom">Godalming College</h5>
  <span class="heading__date">'08 - '10</span>
</div>
<table>
  <tr>
    <th colspan="2">A-Levels</th>
  </tr>
  <tr>
    <td>Mathematics</td>
    <td>A*</td>
  </tr>
  <tr>
    <td>Further Mathematics</td>
    <td>A</td>
  </tr>
  <tr>
    <td>Computing</td>
    <td>B</td>
  </tr>
  <tr>
    <th colspan="2">AS-Levels</th>
  </tr>
  <tr>
    <td>Economics</td>
    <td>B</td>
  </tr>
  <tr>
    <td>Physics</td>
    <td>B</td>
  </tr>
</table>

<div class="header-date">
  <h5 class="heading__header heading__header--no-margin-bottom">Rodborough</h5>
  <span class="heading__date">'03 - '08</span>
</div>
<table>
  <tr>
    <th colspan="2">GCSE's</th>
  </tr>
  <tr>
    <td>Mathematics</td>
    <td>A</td>
  </tr>
  <tr>
    <td>English Language</td>
    <td>B</td>
  </tr>
  <tr>
    <td>English Liturature</td>
    <td>B</td>
  </tr>
  <tr>
    <td>Grade B and Above</td>
    <td>10</td>
  </tr>
</table>

<h4>Work</h4>
<div class="header-date">
  <h5 class="heading__header heading__header--no-margin-bottom">Exceedra Software</h5>
  <span class="heading__date">October '14 - September '17</span>
</div>
<p>
    **Software Engineer** - Working both independently and in a small development team to rapidly improve this start-ups Trade Promotion products and services. 
    Currently the technical lead on a fresh Greenfield project to deliver modern, high performance, scalable forecasting solutions to a range of industries.     
    **Techs;** C#, .NET 4.5, WPF, F#, SQL, Telerik Controls, Visual Studio 2015, TFS, SVN, SSMS, TeamCity.    
    **Main Roles;** Programming, testing, designing, researching and documentation.    
    **Other Roles;** Support, client communication and presentations.
</p>
<div class="header-date">
  <h5 class="heading__header heading__header--no-margin-bottom">Hewlett Packard Enterprise Services</h5>
  <span class="heading__date">October '13 - October '14</span>
</div>
<p>
    **Graduate Information Analyst** – Worked in my first technical rotation as a Software Developer primarily using C within a Linux environment. Part of a large development team on the Hawk Aircraft variant of AMPA (Advanced Mission Planning Aid)   
    **Roles include;** Design, programming, testing, reviewing, debugging, investigating, documentation, troubleshooting, client communication and problem solving. 
</p>
<div class="header-date">
  <h5 class="heading__header heading__header--no-margin-bottom">University of Surrey</h5>
  <span class="heading__date">July '12 - September '12</span>
</div>
<p>
    **Windows 7 Rollout Technician/ 2nd Line Support** – Responsible for working in a rollout team dedicated to upgrading Laptops and PCs to Windows 7. I was tasked with installing and configuring computer systems, diagnosing hardware and software faults and solving technical and application problems. I organised computer audits and upgrades on my own and as part of a team, and communicated with new people on a daily basis. I also worked alongside non-rollout IT staff during busy periods to help maintain a stable work load.
</p>