:host {
    position: absolute;
    height: 100%;
    width: 320px;
    border: 5px solid skyblue;
    overflow-y: auto;    
}

table, th, td {
    border: 1px solid black;
}

.heading {
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 5px 0px;
}

.heading__header, .heading__date {
    white-space: nowrap;
}

.heading__header--no-margin-bottom {
    margin-bottom: 0px;
}

.tech-grid {
    display: grid;
    grid-template-columns: auto 1fr;
}

.tech-grid__titles {
    
}

.tech-grid__badges {

}
