:host {
    position: absolute;
    max-width: 1000px;
}


.heading {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.heading__header {
    margin-right: 5px; 
    margin-bottom: 0px;    
}

.heading__header, .heading__date {
    white-space: nowrap;
}

.heading__header--no-margin-bottom {
    margin-bottom: 0px;
}

.tech-grid {
    display: grid;
    grid-template-columns: auto 1fr;
}

.tech-grid__titles {
    
}

.tech-grid__badges {

}
